body{
    background-color: teal;
}
h1 {
    color: goldenrod;
    background-clip: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
    text-align: center;
    font-size: 37px;
    letter-spacing: 3px;
    font-weight: bold;
}

h2{
    color: goldenrod;
    font-weight: bold;
}
#top-bar {
    display: block;
    position: relative;
    top: 0;
    margin: 0;
    padding: 25px;
}
p1#par1 {
    background-clip: border-box;
    font-weight: bold;
}
div#page-contents {
    color: goldenrod;
    text-align: center;
    font-family: "Segoe UI", Arial, sans-serif;
}

ol {
    text-align: inherit;
}
table#food-pics {
    border-color: goldenrod;
    border-style: solid;
}
table#navi-bar{
    border-collapse: collapse;
    width:100%;
    height: 50px;
    border-color: transparent;
}
tbody#navi-bar{
    display: table-row-group;
    vertical-align: middle;
    background-color: transparent;
}
td {
    text-align: center;
    color: White;
    align-content: center;
}
tr a {
    display: block;
    color: forestgreen;
    padding: 8px 16px;
    text-decoration: none;
}

tr a:hover {
    background-color: darkslategrey;
    color: white;
}
tr a:focus {
    background-color: darkslategrey;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
th {
    font-family: "Segoe UI", Arial, sans-serif;
    color: goldenrod;
    text-align: center;
    background-color: coral;
    font-size: 22px;
    text-decoration: none;
    font-weight: bold;
    display: table-cell;
    vertical-align: inherit;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    list-style-position: inside;
}

.centered-table {
    margin-right: auto;
    margin-left: auto;
}

